*{
    font-family: 'Roboto';
}

.container-bot {
    width: 450px;
    height: 550px;
    position: fixed;
    border-radius: 12px;
    bottom: 3%;
    right: 3%;
    overflow: hidden;
    z-index: 9999999;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-bot .dialog {
    width: 100%;
    flex: 1;
    padding-top: 110px 0;
    overflow-y: auto;
    height: 100%;
    padding: 0 20px;
    position: relative;
}
.conversa-dialog {
    padding-top: 50px;
}

.container-bot .dialog .text-bot {
    width: 100%;
    padding: 0 15px;
    height: 150px;
    position: relative;
}
.container-bot .dialog .text-user {
    width: 100%;
    padding: 0 15px;
    height: 150px;
    position: relative;
}
.text-bot .robo-figure {
    position: absolute;
    top: -40%;
    width: 102px;
    height: 106px;
    z-index: 1;
}
.text-bot .text-area{
    padding: 14px 12px;
    position: absolute;
    border-radius: 20px;
    border: 0;
    background-color: #3E8BFF;
    color: #fff;
    z-index: 2;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-user .text-area-user{
    position: absolute;
    right: 5%;
    margin-top: 60px;
    padding: 14px 12px;
    border-radius: 20px;
    border: 0;
    background-color: #999;
    color: #fff;
}

.response-field{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.response-field input {
    padding: 8px 12px;
    font-family: 'Poppins';
    width: 60%;
    font-size: 16px;
    border: 0;
    border-radius: 8px;
    background-color: #f2f3f3;
}

.response-field button {
    border: 0;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s;
}
.response-field button svg {
    padding: 8px;
}
.response-field button:hover{
    scale: 1.1;
}

.react-confirm-alert-button--confirm {
    background-color: #fff;
    color: #000; 
    transition: all 0.2s;
  }

  .react-confirm-alert-button--confirm:hover {
    background-color: #3E8BFF;
    color: #fff;
  } 
  
  .react-confirm-alert-button--cancel {
    background-color: #fff;
    color: #000; 
    transition: all 0.2s; /* Cor do botão de cancelamento */
  }

  .react-confirm-alert-button--cancel:hover{
    background-color: #f44336;
    color: #fff;
  }

  .response-field button {
    margin: 0 10px;
    border: 0;
    padding: 8px 12px;
    font-size: 16px;
    font-family: "Poppins";
  }

  .btn-voltar {
    position: absolute;
    top: 4%;
    left: 4%;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 12px;
    font-family: 'Poppins';
    font-size: 16px;
    border: 0;
    border-radius: 16px;
    color: #235789;
    transition: all 0.2s;
  }
  .btn-voltar:hover {
    border: 1px solid #235789;
  }

  .cancel {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    width: 20px;
    height: 20px;
    color: #e5403f;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 9999;
}
.cancel:hover{
    scale: 1.1;
}

